{% extends 'base.html' %}

{% block title %}Our Services - Corporate Site{% endblock %}

{% block content %}
<section class="bpo-back">
    <div class="container">
        <div class="bpo-container">
            <p class="back-title">
                業務改善の提案ができる「NPO法人にも対応」
            </p>
            <p class="back-desc">
                「痒いところに手が届く」BPOサービスの提案
            </p>
            <div class="page-url">
                <a href="">ホーム</a> &nbsp;&nbsp;>&nbsp; &nbsp;<a href="">BPO事業</a>
            </div>
        </div>
    </div>
</section>

<section class="bpo-section1 container">
    <div class="bpo-s1-items-row">
        <div class="bpo-s1-item">
            <img src="/static/img/bpo/bpo-s1-1.jpg" alt="">
            <div class="bpo-s1-item-title">
                <p>01</p>
                <p>経理</p>
            </div>
            <pre>数字に強い現場の、頼れる右腕に。
記帳や請求書発行、支払い処理から月次決算まで。ミスの許されない経理業務を、正確かつ丁寧に代行。仕
組み化・自動化にも対応し、属人化の解消と業務の効率化を実現します。</pre>
            <a href="/bpo-detail">詳しく見る &nbsp;&nbsp; →</a>
        </div>
        <div class="bpo-s1-item">
            <img src="/static/img/bpo/bpo-s1-2.jpg" alt="">
            <div class="bpo-s1-item-title">
                <p>02</p>
                <p>人事</p>
            </div>
            <pre>人に関する業務を、もっとやさしく、もっと確実に。
採用サポート、入退社手続き、労務管理、勤怠チェックなど、煩雑になりがちな人事業務を一括代行。人に
寄り添いながら、ルールに沿った確かな運用を支援します。</pre>
            <a href="">詳しく見る &nbsp;&nbsp; →</a>
        </div>
    </div>
    <div class="bpo-s1-items-row">
        <div class="bpo-s1-item">
            <img src="/static/img/bpo/bpo-s1-3.jpg" alt="">
            <div class="bpo-s1-item-title">
                <p>03</p>
                <p>総務</p>
            </div>
            <pre>“なんでも屋”を、プロの支援に。
備品管理、契約書の管理、会議運営、郵送物対応など、見えづらいけど欠かせない業務をスムーズに。業務
整理から引き継ぎ支援まで、現場の困りごとに柔軟に対応します。</pre>
            <a href="">詳しく見る &nbsp;&nbsp; →</a>
        </div>
        <div class="bpo-s1-item">
            <img src="/static/img/bpo/bpo-s1-4.jpg" alt="">
            <div class="bpo-s1-item-title">
                <p>04</p>
                <p>調達(購買)</p>
            </div>
            <pre>発注業務をスマートに、購買プロセスを見える化。
仕入先とのやり取り、発注書の作成、納品確認、支払管理まで。調達業務のプロセスを整備し、コスト管理
とリスク低減を支援。中小組織にも導入しやすい体制を構築します。</pre>
            <a href="">詳しく見る &nbsp;&nbsp; →</a>
        </div>
    </div>
    <div class="bpo-s1-items-row">
        <div class="bpo-s1-item">
            <img src="/static/img/bpo/bpo-back.jpg" alt="">
            <div class="bpo-s1-item-title">
                <p>05</p>
                <p>IT</p>
            </div>
            <pre>IT部門のない組織にも、安心の“技術サポート”を。
PCやクラウドの設定、アカウント管理、簡易的なシステム運用まで、日常業務のITまわりをサポート。社内
の“なんとなく詳しい人”に頼らない、安定したIT運用を実現します。</pre>
            <a href="">詳しく見る &nbsp;&nbsp; →</a>
        </div>
    </div>
</section>

<section class="bpo-section2 container">
    <a href="">
        <img src="/static/img/bpo/bpo-icon-1.svg" alt="">
        <p>資料ダウンロード &nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img src="/static/img/bpo/bpo-icon-3.svg" alt="">
    </a>
    <a href="">
        <img src="/static/img/bpo/bpo-icon-1.svg" alt="">
        <p>資料ダウンロード &nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img src="/static/img/bpo/bpo-icon-3.svg" alt="">
    </a>
</section>

{% endblock %}

{% block contact %}
    <!-- Contact-section -->
    <section class="contact-section">
        <div class="contact-container container">
            <div class="contact-left">
                <div class="contact-title">Contact</div>
                <div class="contact-text">
                「現場の“困った”を、まず聞かせてください。」<br>
                私たちは、企業・NPO法人のあらゆる業務課題に寄り添い、最適な仕組みと支援体制を一緒に考えます。
                </div>
            </div>
            <div class="contact-right">
                <a href="#" class="contact-button">お問い合わせフォーム</a>
            </div>
        </div>
    </section>
{% endblock %}