{% extends 'base.html' %}

{% block title %}Our Services - Corporate Site{% endblock %}

{% block content %}
<section class="career-back">
    <div class="container">
        <div class="career-container">
            <p class="back-title">
                人材の本質で組織をつなぐ
            </p>
            <p class="back-desc">
                スキルではなく「価値観」と「解決力」で結びつける
            </p>
            <div class="page-url">
                <a href="">ホーム</a> &nbsp;&nbsp;>&nbsp; &nbsp;<a href="">職業紹介事業</a>
            </div>
        </div>
    </div>
</section>

<section class="career-section1 container">
    <p class="career-s1-header">
        サービス特徴
    </p>
    <div class="career-s1-items">
        <div class="career-s1-item">
            <div class="career-s1-item-icon">
                <img src="/static/img/career-icon-1.svg" alt="">
            </div>
            <p class="career-s1-text">
                経営課題へのフィッティング力
            </p>
        </div>
        <div class="career-s1-item">
            <div class="career-s1-item-icon">
                <img src="/static/img/career-icon-3.svg" alt="">
            </div>
            <p class="career-s1-text">
                ミスマッチ低減
            </p>
        </div>
        <div class="career-s1-item">
            <div class="career-s1-item-icon">
                <img src="/static/img/career-icon-2.svg" alt="">
            </div>
            <p class="career-s1-text">
                総合カウンセリング実施
            </p>
        </div>
    </div>
</section>

<section class="career-section2 container">
    <h2>マッチングフロー</h2>
    <div class="timeline">
      <div class="step">
        <div class="number">1</div>
        <div class="step-right">
            <img src="/static/img/career/career-s2-1.jpg" alt="両者ヒアリング">
            <div class="text">
                <p class="career-s2-title">
                    両者ヒアリング
                </p>
                <pre class="career-s2-text">企業の課題・採用背景・組織風土を深掘り
求職者の価値観・志向・働き方の希望を丁寧に確認
                </pre>
            </div>
        </div>
      </div>
      <div class="step">
        <div class="number">2</div>
        <div class="step-right">
            <img src="/static/img/career/career-s2-2.jpg" alt="両者ヒアリング">
            <div class="text">
                <p class="career-s2-title">
                    “本質”でのマッチング設計
                </p>
                <pre class="career-s2-text">スキルだけでなく、志向・人間性も加味した候補選定
お互いのカルチャーとの適合性を見極めたマッチング
                </pre>
            </div>
        </div>
      </div>
      <div class="step">
        <div class="number">3</div>
        <div class="step-right">
            <img src="/static/img/career/career-s2-3.jpg" alt="両者ヒアリング">
            <div class="text">
                <p class="career-s2-title">
                    候補者のご紹介
                </p>
                <pre class="career-s2-text">理由を明記した紹介（「なぜこの人か」が明確）
希望条件との整合性を事前にすり合わせ
                </pre>
            </div>
        </div>
      </div>
      <div class="step">
        <div class="number">4</div>
        <div class="step-right">
            <img src="/static/img/career/career-s2-4.jpg" alt="両者ヒアリング">
            <div class="text">
                <p class="career-s2-title">
                    面談・意思確認
                </p>
                <pre class="career-s2-text">双方の納得を最重視した面談サポート
条件交渉や意思決定のフォローも実施
                </pre>
            </div>
        </div>
      </div>
      <div class="step">
        <div class="number">5</div>
        <div class="step-right">
            <img src="/static/img/career/career-s2-5.jpg" alt="両者ヒアリング">
            <div class="text">
                <p class="career-s2-title">
                    入社・定着支援
                </p>
                <pre class="career-s2-text">入社後のオンボーディング支援
必要に応じた定着面談・職場環境への助言
                </pre>
            </div>
        </div>
      </div>
    </div>
</section>

<section class="career-section3 container">
    <p class="career-s3-header">
        求職者支援
    </p>
    <div class="career-s3-items">
        <div class="career-s3-item">
            <div class="career-s3-item-img">
                <img src="/static/img/career/career-s3-1.jpg" alt="">
            </div>
            <p class="career-s3-item-text">
                キャリアカウンセリング
            </p>
        </div>
        <div class="career-s3-item">
            <div class="career-s3-item-img">
                <img src="/static/img/career/career-s3-2.png" alt="">
            </div>
            <p class="career-s3-item-text">
                職務経歴書の近代化・ブランディング
            </p>
        </div>
        <div class="career-s3-item">
            <div class="career-s3-item-img">
                <img src="/static/img/career/career-s3-3.jpg" alt="">
            </div>
            <p class="career-s3-item-text">
                面接対策
            </p>
        </div>
    </div>
</section>

<section class="career-section4 container">
    <p class="career-s4-header">
        職務経歴書添削へのこだわり
    </p>
    <div class="career-s4-items">
        <div class="career-s4-items-row">
            <div class="career-s4-item">
                <p class="career-s4-item-text">
                    職務経歴書の添削が極めて重要であると考えています。
                </p>
            </div>
            <div class="career-s4-item">
                <p class="career-s4-item-text">
                    一語一句その人が完全に把握し、何を聞かれても返答できるよう職務経歴書を仕上げることに力を入れています。
                </p>
            </div>
        </div>
        <div class="career-s4-items-row">
            <div class="career-s4-item">
                <p class="career-s4-item-text">
                    この精緻な職務経歴書によって以下の価値を提供します
                </p>
                <div class="career-s4-text-row">
                    <div class="career-s4-text-row-item">
                        転職希望者
                    </div>
                    <p class="career-s4-text-row-text">
                        自身の能力を100％生かせる企業への転職を実現し、ミスマッチを防止
                    </p>
                </div>
                <div class="career-s4-text-row">
                    <div class="career-s4-text-row-item">
                        採用企業
                    </div>
                    <p class="career-s4-text-row-text">
                        必要な人材を正確に雇用することで、無駄な採用をなくし、経営効率を改善
                    </p>
                </div>
            </div>
            <div class="career-s4-item">
                <p class="career-s4-item-text">
                    職務経歴書の添削サイトを通じて、企業と求職者の適切なマッチングを支援しています。
                </p>
            </div>
        </div>
    </div>
</section>

<section class="career-section5 container">
    <p class="career-s4-header">
        よくある質問
    </p>
    <div class="career-s5-groups">
        <div class="career-s5-group">
            <div class="career-s5-group-header">
                企業向け
            </div>
            <div class="career-s5-group-items">
                <hr>
                <div class="career-s5-group-item">
                    <div class="career-s5-group-item-row">
                        <p style="color: rgba(0, 104, 222, 1);">Q.</p>
                        <p>紹介までどのくらいの期間がかかりますか？</p>
                    </div>
                    <div class="career-s5-group-item-row">
                        <p>A.</p>
                        <p>通常は1〜2週間程度でご紹介が可能です。お急ぎの場合はその旨をお知らせください。</p>
                    </div>
                </div>
                <hr>
                <div class="career-s5-group-item">
                    <div class="career-s5-group-item-row">
                        <p style="color: rgba(0, 104, 222, 1);">Q.</p>
                        <p>採用後にミスマッチがあった場合は？</p>
                    </div>
                    <div class="career-s5-group-item-row">
                        <p>A.</p>
                        <p>再紹介制度は設けておりませんが、紹介前の段階で丁寧なすり合わせを行い、ミスマッチを防ぐことを重視しています。
                            また、入社後のお困りごとがあれば、可能な限りご相談に応じています。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="career-s5-group">
            <div class="career-s5-group-header">
                求職者向け
            </div>
            <div class="career-s5-group-items">
                <hr>
                <div class="career-s5-group-item">
                    <div class="career-s5-group-item-row">
                        <p style="color: rgba(0, 104, 222, 1);">Q.</p>
                        <p>登録や相談は無料ですか？</p>
                    </div>
                    <div class="career-s5-group-item-row">
                        <p>A.</p>
                        <p>はい、すべて無料でご利用いただけます。求人紹介、面談サポート、入社までの相談も費用は一切かかりません。</p>
                    </div>
                </div>
                <hr>
                <div class="career-s5-group-item">
                    <div class="career-s5-group-item-row">
                        <p style="color: rgba(0, 104, 222, 1);">Q.</p>
                        <p>経験が浅くても紹介してもらえますか？</p>
                    </div>
                    <div class="career-s5-group-item-row">
                        <p>A.</p>
                        <p>はい。大切なのはスキルだけでなく、価値観や意欲です。ご希望を丁寧に伺い、最適なご提案をいたします。</p>
                    </div>
                </div>
                <hr>
                <div class="career-s5-group-item">
                    <div class="career-s5-group-item-row">
                        <p style="color: rgba(0, 104, 222, 1);">Q.</p>
                        <p>相談だけでも大丈夫ですか？</p>
                    </div>
                    <div class="career-s5-group-item-row">
                        <p>A.</p>
                        <p>もちろんです。「今すぐ転職は考えていないけど…」という方もお気軽にご連絡ください。</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="career-section6 container">
    <a href="">
        専用フォームへのリンク &nbsp;&nbsp;&nbsp; →
    </a>
    <a href="">
        専用フォームへのリンク &nbsp;&nbsp;&nbsp; →
    </a>
    <a href="">
        専用フォームへのリンク &nbsp;&nbsp;&nbsp; →
    </a>
</section>

{% endblock %}

{% block contact %}
    <!-- Contact-section -->
    <section class="contact-section">
        <div class="contact-container container">
            <div class="contact-left">
                <div class="contact-title">Contact</div>
                <div class="contact-text">
                「現場の“困った”を、まず聞かせてください。」<br>
                私たちは、企業・NPO法人のあらゆる業務課題に寄り添い、最適な仕組みと支援体制を一緒に考えます。
                </div>
            </div>
            <div class="contact-right">
                <a href="#" class="contact-button">お問い合わせフォーム</a>
            </div>
        </div>
    </section>
{% endblock %}