{% extends 'base.html' %}

{% block title %}Our Services - Corporate Site{% endblock %}

{% block content %}
<section class="case-back">
    <div class="container">
        <div class="case-title"container>
            <p>CASE</p>
            <p>支援事例</p>
            <div class="urls">
                <a href="">ホーム</a> &nbsp;&nbsp;>&nbsp; &nbsp;<a href="">支援事例</a>
            </div>
        </div>
    </div>
</section>

<section class="case-s1 container">
    <p>経営コンサルティング事業</p>
    <div class="case-s1-items">
        <p>戦略系</p>
        <div class="case-s1-items-row">
            <div class="case-s1-items-row-item">
                <a href="/case-detail"><img src="/static/img/case/case-s1-1.jpg" alt=""></a>
                <p>日系大手重工業の業務システム更新に関する Pre要件定義</p>
                <p>利益率を改善するために社内業務システムの刷新検討。特殊業務プロセスやSaaS製品を導入できない状況、社内体制が複雑な状況で 各ステイクホルダーにヒアリングしながら、要件を整理</p>
            </div>
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-2.jpg" alt="">
                <p> 日系独立系 SI社内購買システム導入要件定義PJ</p>
                <p>ビジネスプロセスに照らし合わせ、数多くある製品の中から1つの製品を選定するPJにて、PMを補佐する役割でチームをリード。 参画時、確認すべき事項が曖昧で判断にできない状況の中、状況の整理及び指針の整理を行うことで論点の整理。同時にチームメンバー には情報の取得などを協力いたたくことで無事選定製品の絞り込みに成功</p>
            </div>
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-3.jpg" alt="">
                <p>日系大手重工業の業務システム更新に関する Pre要件定義</p>
                <p>利益率を改善するために社内業務システムの刷新検討。特殊業務プロセスやSaaS製品を導入できない状況、社内体制が複雑な状況で 各ステイクホルダーにヒアリングしながら、要件を整理</p>
            </div>
        </div>
    </div>
    <div class="case-s1-items">
        <p>事務系</p>
        <div class="case-s1-items-row">
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-4.jpg" alt="">
                <p>日系重工業メーカー海外関係会社導入支援</p>
                <p>調達系購買システムが日本にすでに導入されており、海外拠点への導入支援を行った。海外ではビジネスプロセスが複雑で、かつリモート ワークでコミュニケーションがうまくいかない中、問題を整理して率先提案することで問題定義を行った。リモートワークでも海外の拠点 メンバーとコミュニケーションを図り問題解決を支援</p>
            </div>
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-5.png" alt="">
                <p>日系大手印刷会社－補助金事務局設営支援PJ</p>
                <p>事務局設営におけるPJスコープの確認、WBSの設定などを支援。WBSの整理を主に支援し、タスクの洗い出しに貢献。およびにコスト 管理プロセスの構築およびにマクロの開発を行い、業務効率化を実現</p>
            </div>
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-6.jpg" alt="">
                <p>日系大手重工業の社内システム老朽化に対する刷新(モダナイゼーション)方法の検討</p>
                <p>システムマイグレーションに関するベンダー調査や業務パッケージの部分でどのように変換を進めるべきかの検討を実施。SaaS製品に 移管できない制約の中で変換を進めるために機能一覧から変換するため機能分類及び指針を提示</p>
            </div>
        </div>
        <div class="case-s1-items-row">
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-7.jpg" alt="">
                <p>日系大手Sier新規構築支援</p>
                <p>既存の商材を大学・自治体に導入するPJにおいてPOCの支援や、見積に記載する項目の整理、現場担当者の方々への指示内容の解説をする など、営業活動を支援.</p>
            </div>
        </div>
    </div>
    <div class="case-s1-items">
        <p>伴走型PJ遂行支援</p>
        <div class="case-s1-items-row">
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-8.jpg" alt="">
                <p>日系大手Sier事業支援</p>
                <p>既存の商材を大学・自治体に導入するPJにおいてPOCの支援や、見積に記載する項目の整理、現場担当者の方々への指示 内容、営業活動における攻め手の戦略策定支援をPJメンバーの一員と実施し、お客様のPJ遂行にで手が届きにくい部分の 支援/p>
            </div>
            <div class="case-s1-items-row-item">
                <img src="/static/img/case/case-s1-9.jpg" alt="">
                <p>NPO法人での各種PJの遂行支援</p>
                <p>NPO方針における新規事立ち上げにおける各種タスクの整理、外部業者と現場とのコミュニケーションにおける問題点 の抽出、解決支援。タスクの見える化を通じてボトルネックの抽出などを実施。</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block contact %}
    <!-- Contact-section -->
    <section class="contact-section">
        <div class="contact-container container">
            <div class="contact-left">
                <div class="contact-title">Contact</div>
                <div class="contact-text">
                「現場の“困った”を、まず聞かせてください。」<br>
                私たちは、企業・NPO法人のあらゆる業務課題に寄り添い、最適な仕組みと支援体制を一緒に考えます。
                </div>
            </div>
            <div class="contact-right">
                <a href="#" class="contact-button">お問い合わせフォーム</a>
            </div>
        </div>
    </section>
{% endblock %}