{% extends 'base.html' %}

{% block title %}Our Services - Corporate Site{% endblock %}

{% block content %}
<section class="case-back">
    <div class="container">
        <div class="case-title"container>
            <p>Company</p>
            <p>企業情報</p>
            <div class="urls">
                <a href="">ホーム</a> &nbsp;&nbsp;>&nbsp; &nbsp;<a href="">企業情報</a>
            </div>
        </div>
    </div>
</section>

<section class="company-s1">
    <div class="container">
        <div class="company-s1-container">
            <div class="left">
                <h1>Philosophy</h1>
                <div class="label">経営理念</div>
            </div>
            <div class="right">
                <h2>業務トランスフォーメーションの実行支援を通じて お客様とより良い未来の実現を達成します。</h2>
                <p>我々はコンサルティングファームの助言だけの支援、IT企業のようにシステムを導入しただけの支援にとどまらず、根本問題の解決を追及します。</p>
                <p>多くのお客様にて高額な費用を払ったのにも関わらず、活用しきれず無駄になってしまうケースを多く見てきました。こういった状態を問題だと捉え、本当の問題解決の実現を目指します。</p>
            </div>
        </div>
    </div>
</section>

<section class="company-s2">
    <pre>業務トランスフォーメーションの実行支援を
通じて お客様とより良い未来の実現を達成します。</pre>
</section>

<section class="company-s3">
    <div class="container">
        <div class="company-s3-container">
            <div class="company-s3-container-left">
                <h1>Company Profile</h1>
                <div class="label">会社概要</div>
            </div>
            <div class="company-s3-container-right">
                <table>
                    <tr><td>会社名</td><td>Xrosspoint株式会社</td></tr>
                    <tr><td>本社所在地</td><td>東京都多摩市永山1-15-29</td></tr>
                    <tr><td>代表者</td><td>仲丸竜宏</td></tr>
                    <tr><td>設立日</td><td>2023年07月19日</td></tr>
                    <tr><td>決算期</td><td>6月</td></tr>
                    <tr><td>資本金</td><td>5百万円</td></tr>
                    <tr>
                        <td>事業内容</td>
                        <td>
                            <span class="highlight">経営コンサルティング事業</span><br>
                            DX・BPR・業務改革による経営効率の改善 事業関連のコストモデルの作成/コンプライアンス順守の仕組みづくり 中小企業向けの経営コンサルティング オーケストラ型スポットコンサルティングサービス
                            <br><br>
                            有料求人紹介事業<br>
                            キャリア形成支援<br>
                            転職支援
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="company-s4">
</section>

<section class="company-s5">
    <div class="container">
        <div class="company-s5-container">
            <div class="company-s5-container-header">
                <h2 class="section-title">Strong Point</h2>
                <p>強み</p>
            </div>
            <div class="point-block">
              <div class="point-header">
                <div class="point-badge"><span>POINT</span> <span>01</span></div>
                <div class="point-text">
                  <h3>DX・BPR・業務改善による経営効率の改善</h3>
                  <p>関連関連<small>（コストモデルの作成 / Should Beモデル / コンプライアンス環境での仕組み作り）</small></p>
                </div>
              </div>
              <div class="point-subtitle">経営コンサルティング事業</div>
              <div class="point-images">
                <div class="image-card">
                  <img src="/static/img/company/company-s4-1.jpg" alt="">
                  <p>オーケストラ型スポットコンサルティングサービス</p>
                  <p>外部の専門家とプロジェクトチーム を組むコンサルティングサービスの</p>
                </div>
                <div class="image-card">
                  <img src="/static/img/company/company-s4-2.jpg" alt="">
                  <p>中小企業向けの経営コンサルティング</p>
                  <p>固定費用無しのタイムチャージ 制のコンサルティングサービス</p>
                </div>
              </div>
            </div>
        
            <div class="point-block">
              <div class="point-header">
                <div class="point-badge">POINT <span>02</span></div>
                <div class="point-text">
                  <h3>職務経歴書の論理的な添削を重視 転職する上での矛盾や主張の裏付けを求職者の経験や個性から行う</h3>
                </div>
              </div>
              <div class="point-subtitle">有料求人紹介事業</div>
              <div class="point-images">
                <div class="image-card">
                  <img src="/static/img/company/company-s4-3.jpg" alt="">
                  <p>転職支援</p>
                </div>
                <div class="image-card">
                  <img src="/static/img/company/company-s4-4.jpg" alt="">
                  <p>キャリア支援</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block contact %}
    <!-- Contact-section -->
    <section class="contact-section">
        <div class="contact-container container">
            <div class="contact-left">
                <div class="contact-title">Contact</div>
                <div class="contact-text">
                「現場の“困った”を、まず聞かせてください。」<br>
                私たちは、企業・NPO法人のあらゆる業務課題に寄り添い、最適な仕組みと支援体制を一緒に考えます。
                </div>
            </div>
            <div class="contact-right">
                <a href="#" class="contact-button">お問い合わせフォーム</a>
            </div>
        </div>
    </section>
{% endblock %}