{% extends 'base.html' %}

{% block title %}Contact Us - Corporate Site{% endblock %}


{% block content %}

<section class="consulting-back">
    <div class="container">
        <div class="consulting-container">
            <p class="back-title">
                現場が動かない。それ、社員のせいですか？
            </p>
            <p class="back-desc">
                業動改善が進まない本当の原因は「人」ではなく「仕組み」にあります
            </p>
            <div class="page-url">
                <a href="">ホーム</a> &nbsp;&nbsp;>&nbsp; &nbsp;<a href="">コンサルティング事業</a>
            </div>
        </div>
    </div>
</section>

<section class="consulting-section1">
    <div class="container">
        <div class="consulting-section1-content">
            <pre>社員が悪いのではなく、「変われる仕組み」がないだけかもしれません
「まずは現場の声を一緒に“見える化”しませんか？」
            </pre>
            <a href="">
                無料相談を申込む   &nbsp;&nbsp;&nbsp;&nbsp; →
            </a>
        </div>
    </div>
</section>

<section class="consulting-section2">
    <div class="container">
        <div class="consulting-section2-content">
            <p>
                よくある誤解と構造化
            </p>
            <p>
                「社員がやる気がない」と思われる背景に、こんな構造が。
            </p>
        </div>
    </div>
</section>

<section class="consulting-section3 container">
    <div class="section3-left">
        <p>よくある誤解と構造化</p>
    </div>
    <di class="section3-right">
        <div class="section3-right-title">
            <p>「社員がやる気がない」と思われる背景に、こんな構造が。</p>
        </div>
        <div class="s3-right-lists">
            <div class="s3-right-list">
                <img src="/static/img/checkmark.svg" alt="">
                <p>
                    現場が「何をすれば良いかわからない」
                </p>
            </div>
            <div class="s3-right-list">
                <img src="/static/img/checkmark.svg" alt="">
                <p>
                    経営と現場でゴールのズレ
                </p>
            </div>
            <div class="s3-right-list">
                <img src="/static/img/checkmark.svg" alt="">
                <p>
                    中間管理職がボトルネック
                </p>
            </div>
        </div>
    </di>
</section>

<section class="consulting-section4">
    <p>
        実際の支援スタイル
    </p>
    <p>
        「答えを出す」のではなく「問いを整える」同行型
    </p>
</section>

<section class="consulting-section5">
    <div class="container">
        <div class="s5-header">
            <p class="s5-header-title">
                実際の支援スタイル
            </p>
            <p class="s5-header-desc">
                「答えを出す」のではなく「問いを整える」同行型
            </p>
        </div>
        <div class="s5-items">
            <div class="s5-item">
                <div class="s5-item-img">
                    <img src="/static/img/s5-icon-1.svg" alt="">
                </div>
                <p class="s5-item-title">
                    構造化支援
                </p>
            </div>
            <div class="s5-item">
                <div class="s5-item-img">
                    <img src="/static/img/s5-icon-2.svg" alt="">
                </div>
                <p class="s5-item-title">
                    中間管理職の隔隔を取り除く
                </p>
            </div>
            <div class="s5-item">
                <div class="s5-item-img">
                    <img src="/static/img/s5-icon-3.svg" alt="">
                </div>
                <p class="s5-item-title">
                    実行支援
                </p>
            </div>
            <div class="s5-item">
                <div class="s5-item-img">
                    <img src="/static/img/s5-icon-4.svg" alt="">
                </div>
                <p class="s5-item-title">
                    振り返りの定着化
                </p>
            </div>
        </div>
    </div>
        
</section>

<section class="consulting-section6">
    <p>
        実績一例
    </p>
    <p>
        「順番と構造」を整える
    </p>
    <pre>例えば、“やらせる順番”が間違っていれば、どんなに優秀な人材も動けません。
        “伝える構造”がなければ、やる気は空回りします。</pre>
</section>

<section class="consulting-section7 container">
    <div class="s7-title">
        実績一例
    </div>
    <div class="s7-items">
        <div class="s7-item">
            <div class="s7-item-icon">
                <img src="/static/img/s5-icon-5.svg" alt="">
            </div>
            <div class="s7-item-content">
                <p class="s7-item-title">
                    ｢順番｣の問題とは？
                </p>
                <pre class="s7-item-desc">改善施策には、取り組むべき順序があります。多くの組織がいきなり「成果を出す施策」や「DX導入」
などから入ろうとしますが、現場の理解・協力が得られていない。目的や課題が言語化されていない、
試行的なアプローチを通じた“慣れ”がないという準備段階を飛ばしてしまい、「実行しても動かない」
という事態が起こります。
                </pre>
            </div>
        </div>
        <div class="s7-item">
            <div class="s7-item-icon">
                <img src="/static/img/s5-icon-1.svg" alt="">
            </div>
            <div class="s7-item-content">
                <p class="s7-item-title">
                    ｢構造｣の問題とは？
                </p>
                <pre class="s7-item-desc">施策を実行できるためには、現場と経営の間に“伝達と理解の構造”が必要です。
経営陣：ゴールは見えているが、現場に降りていない
現場：なぜやるのか分からず“指示待ち”状態
中間管理職：情報のボトルネックになりがち
                </pre>
            </div>
        </div>
    </div>
</section>

<section class="consulting-section8">
    <p>
        紹介最後の一言
    </p>
    <p>社員が悪いのではなく、「変われる仕組み」が
ないだけかもしれません
    </p>
</section>

<section class="consulting-section1">
    <div class="container">
        <div class="consulting-section1-content">
            <pre>社員が悪いのではなく、「変われる仕組み」がないだけかもしれません
「まずは現場の声を一緒に“見える化”しませんか？」
            </pre>
            <a href="">
                無料相談を申込む   &nbsp;&nbsp;&nbsp;&nbsp; →
            </a>
        </div>
    </div>
</section>

{% endblock %}

{% block contact %}
    <!-- Contact-section -->
    <section class="contact-section">
        <div class="contact-container container">
            <div class="contact-left">
                <div class="contact-title">Contact</div>
                <div class="contact-text">
                「現場の“困った”を、まず聞かせてください。」<br>
                私たちは、企業・NPO法人のあらゆる業務課題に寄り添い、最適な仕組みと支援体制を一緒に考えます。
                </div>
            </div>
            <div class="contact-right">
                <a href="#" class="contact-button">お問い合わせフォーム</a>
            </div>
        </div>
    </section>
{% endblock %}