{% extends 'base.html' %}

{% block title %}Contact Us - Corporate Site{% endblock %}


{% block content %}
<section class="cultivation-back">
    <div class="cultivation-container container">
        <div class="cultivation-text">
            <p class="back-title">
                植物工場の新たなステージ
            </p>
            <p class="back-desc">
                高抗酸化値・低硝酸リーフレタス等 葉物類
            </p>
        </div>
        <div class="cultivation-text">
            <p class="back-title">
                リーフレタス抗酸化値を従来の工場野菜の約5～10倍以上、硝酸態窒素約70%低減を実現
            </p>
            <p class="back-desc">
                高糖度メロン, イチゴ, トマト等 果菜類
            </p>
        </div>
    </div>
</section>

<section class="cultivation-s1">
    <div class="container">
        <div class="cultivation-s1-container">
            <div class="image-container">
                <img src="/static/img/cultivation/cultivation-s1-1.jpg" alt="Plants">
              </div>
            
              <div class="text-area">
                <div class="text-left">
                    <div class="title">Message</div>
                    <div class="subtitle">恵葉＆菜について</div>
                </div>
                <div class="text-right">
                    <div class="description">
                        高抗酸化値・低硝酸 野菜 栽培プラント、高糖度メロン、イチゴ、トマト 栽培プラント、ベビーリーフ 栽培プラント、果菜類、穀物類、根菜類の栽培プラント、スマートデザイン栽培装置、アクアポニックス・陸上養殖を各種取り扱っております。
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="cultivation-s2">
    <div class="container">
        <div class="cultivation-s2-container">
            <div class="cultivation-s2-header">
                <div class="text-area">
                    <div class="text-left">
                        <div class="title">Product</div>
                        <div class="subtitle">製品紹介</div>
                    </div>
                    <div class="text-right">
                        <div class="description">
                            高抗酸化値・低硝酸 野菜 栽培プラント、高糖度メロン、イチゴ、トマト 栽培プラント、ベビーリーフ 栽培プラント、果菜類、穀物類、根菜類の栽培プラント、スマートデザイン栽培装置、アクアポニックス・陸上養殖を各種取り扱っております。  
                        </div>
                    </div>
                  </div>
            </div>
            <div class="cultivation-s2-items">
                <div class="cultivation-s2-items-row">
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-1.jpg" alt="">
                        <p>高抗酸化値・低硝酸栽培プラント</p>
                    </div>
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-2.jpg" alt="">
                        <p>メロン栽培プラント</p>
                    </div>
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-3.jpg" alt="">
                        <p>イチゴ栽培プラント</p>
                    </div>
                </div>
                <div class="cultivation-s2-items-row">
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-4.jpg" alt="">
                        <p>トマト栽培プラント</p>
                    </div>
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-5.jpg" alt="">
                        <p>スマートデザイン栽培装置</p>
                    </div>
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-6.jpg" alt="">
                        <p>ベビーリーフ栽培プラント</p>
                    </div>
                </div>
                <div class="cultivation-s2-items-row">
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-7.jpg" alt="">
                        <p>果菜類・根菜類・穀物類<br />次世代栽培プラント</p>
                    </div>
                    <div class="cultivation-s2-item">
                        <img src="/static/img/cultivation/cultivation-s2-8.jpg" alt="">
                        <p>アクアポニックス・陸上養殖</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<section class="cultivation-s3">
    <div class="container">
        <div class="cultivation-s3-container">
            <div class="card">
                <div class="left">
                    <img src="/static/img/cultivation/cultivation-s3-2.png" alt="">
                    <img src="/static/img/cultivation/cultivation-s3-1.jpg" alt="University Image">
                </div>
              
                <div class="right">
                  <h3>京都府立大学との研究契約・野菜分析</h3>
                  <p>
                    京都府立大学と研究契約：京都府立大学産学公連携研究拠点グリーンイノベーション施設 植物系研究棟
                    2016年より京都府立大学と研究契約を継続し、抗酸化値の高い野菜、高糖度メロン、イチゴ、トマトの
                    栽培技術・栽培プラントの開発設計等、研究分野において産学連携強化をしています。また、野菜の
                    分析業務、品質評価を行い、品質の高い・美味しい野菜、果物の安定生産に取り組んでいます。
                  </p>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="cultivation-s4">
    <div class="container">
        <div class="cultivation-s4-container">
            <div class="section">
                <!-- Left side -->
                <div class="left">
                  <div class="title">Workshop</div>
                  <div class="subtitle">セミナー</div>
                </div>
              
                <!-- Right side -->
                <div class="right">
                  <div class="description">
                    植物工場リテラシーを共有<br>
                    【オンライン ZOOM セミナー】随時実施 植物工場の新たなステージ<br>
                    高抗酸化値・低硝酸 先端植物工場<br>
                    野菜品質面の差別化により、植物生理学に基づいた栽培方法、養液システム、栽培システム、自動化・AIなど各テーマの基礎技術を解説
                  </div>
                  <div class="note">
                    ※同業他社さまにはご参加をご遠慮頂いております。ご了承のほどよろしくお願い致します。
                  </div>
                  <a href="#" class="btn">
                    詳細を見る <span class="btn-arrow">➔</span>
                  </a>
                </div>
              </div>
        </div>
    </div>
</section>

{% endblock %}

{% block contact %}
    <!-- Contact-section -->
    <section class="contact-section">
        <div class="contact-container container">
            <div class="contact-left">
                <div class="contact-title">Contact</div>
                <div class="contact-text">
                「現場の“困った”を、まず聞かせてください。」<br>
                私たちは、企業・NPO法人のあらゆる業務課題に寄り添い、最適な仕組みと支援体制を一緒に考えます。
                </div>
            </div>
            <div class="contact-right">
                <a href="#" class="contact-button">お問い合わせフォーム</a>
            </div>
        </div>
    </section>
{% endblock %}
