{% extends 'base.html' %}

{% block title %}Contact Us - Corporate Site{% endblock %}


{% block content %}
<section class="recruit-back">
    <div class="recruit-back-container">
        <img src="/static/img/recruit/recruit-back-1.png" alt="">
        <!-- <img src="/static/img/recruit/recruit-back.png" alt=""> -->
        <div class="recruit-back-text">
            <h1>RECRUITMENT</h1>
            <p>採用情報</p>
            <div>
                <a href="">ホーム</a>
                <span>></span>
                <span>お問い合わせ</span>
            </div>
        </div>
    </div>
</section>

<section class="recruit-s1">
    <!-- <div class="container"> -->
        <!-- <div class="recruit-s1-container"> -->
            <!-- <div class="message-image"> -->
                <img src="/static/img/recruit/recruit-s1-1.png" alt="代表メッセージ">
                <img src="/static/img/recruit/recruit-s1-2.png" alt="代表メッセージ">
            <!-- </div> -->
            <div class="message-content">
                <h2 class="message-title">Message</h2>
                <div class="message-subtitle">
                <span class="icon">◆</span> 採用メッセージ
                </div>
                <p>
                    業務トランスフォーメーションの実行支援を通じてお客様とより良い未来の実現を達成します。
                    我々はコンサルティングファーム、有名外資系企業、日経上場企業で様々な問題解決をしてきました。私自身の経験として、調達分野は様々なビジネスと関連があり、調達戦略がビジネスの成功に影響することを体験しました。 特に、調達分野は業務プロセスやシステム化の最適化がされていないことが多く、無駄が多く、問題が複雑なため改善が難しい分野です。大企業でも混沌としており、中小企業では尚更な状態です。 我々はロジカルシンキングおよび、IT知識をベースとし、各自専門性を発揮することで、この混沌な状態を整理された状態に変えることで、企業の強固な経営基盤の実現をともに実現します。特に日本の中小企業のDX化を通じ、企業の収益性の底上げを実現し、日本が世界一のビジネス先進国となるべく、活動していきます。我々はコンサルティングファームの助言だけの支援、IT企業のようにシステムを導入しただけの非効率な業務とは異なり、根本問題の解決を追及します。
                </p>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</section>

<section class="recruit-s2">
    <img src="/static/img/recruit/recruit-s2-1.png" alt="">
    <img src="/static/img/recruit/recruit-s2-2.png" alt="">
    <div class="recruit-s2-content">
        <div class="recruit-s2-content-header">
            <h2>Looking for</h2>
            <div><span class="icon">◆</span> 求める人物像</div>
        </div>
        <div class="recruit-s2-content-text">
            <div class="recruit-s2-content-text-item">
                <p class="recruit-s2-content-text-item-left">
                    •
                </p>
                <div class="recruit-s2-content-text-item-right">
                    <u>他者に寄り添える人</u>
                    <p>
                        現場やお客様の立場を理解し、相手の目線で考えられる方。
                    </p>
                    <p>
                        企業、NPO、スタッフなど、立場や価値観の異なる人たちと丁寧に向き合える力を重視します。
                    </p>
                </div>
            </div>
            <div class="recruit-s2-content-text-item">
                <p class="recruit-s2-content-text-item-left">
                    •
                </p>
                <div class="recruit-s2-content-text-item-right">
                    <u>自分で動き、形にできる人</u>
                    <p>
                        指示を待つのではなく、自ら提案・実行できる方。
                    </p>
                    <p>
                        少数精鋭の組織だからこそ、ひとりひとりの“前向きな行動力”が重要です。
                    </p>
                </div>
            </div>
            <div class="recruit-s2-content-text-item">
                <p class="recruit-s2-content-text-item-left">
                    •
                </p>
                <div class="recruit-s2-content-text-item-right">
                    <u>チームでの成果を大切にできる人</u>
                    <p>
                        ひとりで完結するのではなく、周囲と協力しながら目標に向かえる方。
                    </p>
                    <p>
                        社内外の連携を大切にし、“伴走”する姿勢を持つ方を歓迎します。
                    </p>
                </div>
            </div>
            <div class="recruit-s2-content-text-item">
                <p class="recruit-s2-content-text-item-left">
                    •
                </p>
                <div class="recruit-s2-content-text-item-right">
                    <u>課題を「構造」で捉えられる人</u>
                    <p>
                        「なぜ動かないのか？」を“人”ではなく“仕組み”で捉えられる方。
                    </p>
                    <p>
                        表面的な問題ではなく、根本的な改善に向き合う姿勢を歓迎します。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="recruit-s3">
    <img src="/static/img/recruit/recruit-s3-1.png" alt="">
    <div class="container">
        <div class="recruit-s3-content-header">
            <div>
                <h2>Works</h2>
                <p>Xrosspointで働く魅力</p>
            </div>
        </div>
        <div class="recruit-s3-content-item-row">
            <div class="recruit-s3-content-text-item">
                <img src="/static/img/recruit/recruit-s3-2.png" alt="">
                <p>
                    「仕組みをつくる側」になれる仕事
                </p>
                <pre>仕組みを考え、実行する。
現場の課題に向き合い、提案がそのままカタチになる環境です。</pre>
            </div>
            <div class="recruit-s3-content-text-item">
                <img src="/static/img/recruit/recruit-s3-3.jpg" alt="">
                <p>
                    社会性あるプロジェクトに関われる
                </p>
                <pre>社会とつながる実感を。
NPO法人や地域と連携し、誰かの役に立つ仕事に関われます。</pre>
            </div>
        </div>
        <div class="recruit-s3-content-item-row">
            <div class="recruit-s3-content-text-item">
                <img src="/static/img/recruit/recruit-s3-4.png" alt="">
                <p>
                    柔軟な働き方ができる
                </p>
                <pre>リモートOK。
ライフスタイルに合わせた働き方が選べる職場です。</pre>
            </div>
            <div class="recruit-s3-content-text-item">
                <img src="/static/img/recruit/recruit-s3-5.jpg" alt="">
                <p>
                    少人数だからこその裁量とチーム感
                </p>
                <pre>小さなチーム、大きな裁量。
一人ひとりが主役。仲間と共にプロジェクトを動かす手応えがあります。</pre>
            </div>
        </div>
    </div>
</section>

<section class="recruit-s4">
    <div class="container">
        <div class="recruit-s4-content-header">
            <h2>Requirements</h2>
            <p>募集要項</p>
        </div>
        <div class="recruit-s4-content-row">
            <div class="recruit-s4-content-row-left">
                <img src="/static/img/recruit/recruit-s4-1.jpg" alt="">
            </div>
            <div class="recruit-s4-content-row-right">
                <h2 class="job-title">中途採用</h2>
                <table class="job-table">
                    <tr>
                    <th>職種名</th>
                    <td>コンサルタント</td>
                    </tr>
                    <tr>
                    <th>雇用形態</th>
                    <td>正社員</td>
                    </tr>
                    <tr>
                    <th>仕事内容</th>
                    <td>
                        気候変動対策の環境調査に関するコンサルティング業務<br>
                        ・お客様のCO₂排出量が国際規格をクリアしているかの確認<br>
                        ・国際水準での削減目標の設定、達成のためのアドバイス　等<br>
                        脱炭素社会を実現するためには、企業の排出量の現状把握、削減目標の設定と削減活動の実践、取り組みと成果の情報開示からなる「カーボンマネジメント」のサイクルを回すことが大切だと考えています。...
                    </td>
                    </tr>
                    <tr>
                    <th>勤務地</th>
                    <td>
                        名古屋または東京<br><br>
                        【名古屋店】<br>
                        〒461-0005<br>
                        愛知県名古屋市東区東桜一丁目13番3号<br>
                        NHK名古屋放送センタービル16階<br>
                        ー 地下鉄東山線・名城線「栄駅」4番出口より徒歩5分<br>
                        ー 名鉄瀬戸線「栄町駅」より徒歩5分<br><br>
                        【東京本店】<br>
                        〒100-0004<br>
                        東京都千代田区大手町二丁目2番1号 新大手町ビル3階 O Club内<br>
                        ー 東京メトロ丸ノ内線、千代田線、半蔵門線、東西線、都営三田線「大手町駅」直結
                    </td>
                    </tr>
                    <tr>
                    <th>転勤の有無</th>
                    <td>なし</td>
                    </tr>
                    <tr>
                    <th>給与</th>
                    <td>ご経験に基づき支給</td>
                    </tr>
                    <tr>
                    <th>特に優遇となる経験例</th>
                    <td>
                        ・環境分野（分野問わず）やエネルギー会社での業務経験<br>
                        ・シンクタンクやNGO等での業務経験<br>
                        ・法人向けのコンサルティング経験（業界問わず）<br>
                        ・マネジメント、会計分野の業務経験<br>
                        たとえ未経験者でも、どんどん学んで成長したい方であれば歓迎いたします。
                    </td>
                    </tr>
                    <tr>
                    <th>勤務時間</th>
                    <td>9:00〜18:00</td>
                    </tr>
                    <tr>
                    <th>休日休暇</th>
                    <td>
                        完全週休2日制（土日）<br>
                        祝日、GW休暇、夏季休暇、年末年始休暇、有給休暇、慶弔休暇<br>
                        ・産休・育休取得実績有<br>
                        ・年間休日125日以上
                    </td>
                    </tr>
                    <tr>
                    <th>福利厚生</th>
                    <td>
                        ・昇給年1回（4月）<br>
                        ・社会保険完備（雇用・労災・健康・厚生年金）<br>
                        ・健康診断<br>
                        ・資格取得支援<br>
                        ・交通費（全額支給）
                    </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="recruit-s4-content-row">
            <div class="recruit-s4-content-row-left">
                <img src="/static/img/recruit/recruit-s4-2.jpg" style="margin-top: 0;" alt="">
            </div>
            <div class="recruit-s4-content-row-right">
                <h2 class="job-title">パート・アルバイト採用</h2>
                <table class="job-table">
                    <tr>
                    <th>募集職種名</th>
                    <td>一般事務</td>
                    </tr>
                    <tr>
                    <th>雇用形態</th>
                    <td>アルバイト・パート</td>
                    </tr>
                    <tr>
                    <th>仕事内容</th>
                    <td>
                        ・コンサルティングに関わるデータ集計<br>
                        ・庶務（来客対応、お茶出し・電話応対・郵送物の発送・備品類の発注、管理など）<br>
                    </td>
                    </tr>
                    <tr>
                    <th>勤務地</th>
                    <td>
                        〒461-0005<br>
                        愛知県名古屋市東区東桜一丁目13番3号<br>
                        NHK名古屋放送センタービル16階<br>
                        ー 地下鉄東山線・名城線「栄駅」4番出口より徒歩5分<br>
                        ー 名鉄瀬戸線「栄町駅」より徒歩5分<br><br>
                        【東京本店】<br>
                        〒100-0004<br>
                        東京都千代田区大手町二丁目2番1号 新大手町ビル3階 O Club内<br>
                        ー 東京メトロ丸ノ内線、千代田線、半蔵門線、東西線、都営三田線「大手町駅」直結
                    </td>
                    </tr>
                    <tr>
                    <th>転勤の有無</th>
                    <td>なし</td>
                    </tr>
                    <tr>
                    <th>給与</th>
                    <td>ご経験に基づき支給</td>
                    </tr>
                    <tr>
                    <th>特に優遇となる経験例</th>
                    <td>
                        ・環境分野（分野問わず）やエネルギー会社での業務経験<br>
                        ・シンクタンクやNGO等での業務経験<br>
                        ・法人向けのコンサルティング経験（業界問わず）<br>
                        ・マネジメント、会計分野の業務経験<br>
                        たとえ未経験者でも、どんどん学んで成長したい方であれば歓迎いたします。
                    </td>
                    </tr>
                    <tr>
                    <th>勤務時間</th>
                    <td>9:00〜18:00</td>
                    </tr>
                    <tr>
                    <th>休日休暇</th>
                    <td>
                        完全週休2日制（土日）<br>
                        祝日、GW休暇、夏季休暇、年末年始休暇、有給休暇、慶弔休暇<br>
                        ・産休・育休取得実績有<br>
                        ・年間休日125日以上
                    </td>
                    </tr>
                    <tr>
                    <th>福利厚生</th>
                    <td>
                        ・昇給年1回（4月）<br>
                        ・社会保険完備（雇用・労災・健康・厚生年金）<br>
                        ・健康診断<br>
                        ・資格取得支援<br>
                        ・交通費（全額支給）
                    </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="recruit-s5">
    <!-- <div class="container"> -->
        <div class="recruit-s5-content">
            <!-- Left section -->
                <div class="process-left-container">
                    <div class="process-title">Process</div>
                    <div class="process-subtitle">選考プロセス</div>
                    <img src="/static/img/recruit/recruit-s5-1.jpg" alt="面接" class="process-image">
                </div>
                <div class="process-left-content">
                </div>
                <div class="process-right-content">
                    <div class="process-right-content-row">
                        <div class="process-right-content-row-number">
                            <p>01</p>
                            <hr>
                        </div>
                        <p>応募</p>
                        <div>
                            <pre>まずは、エントリーフォームからエントリーしてください。
エントリー完了後、採用担当者からご連絡いたします。</pre>
                        </div>
                    </div>
                    <div class="process-right-content-row">
                        <div class="process-right-content-row-number">
                            <p>02</p>
                            <hr>
                        </div>
                        <p>書類選考</p>
                        <div>
                            <pre>履歴書、職務経歴書をご提出ください。</pre>
                        </div>
                    </div>
                    <div class="process-right-content-row">
                        <div class="process-right-content-row-number">
                            <p>03</p>
                            <hr>
                        </div>
                        <p>一次面接（面接・適性検査）</p>
                        <div>
                            <pre>基本的には対面での面接になります。
オンラインでも対応可能ですので、ご希望の方はご相談ください。</pre>
                        </div>
                    </div>
                    <div class="process-right-content-row">
                        <div class="process-right-content-row-number">
                            <p>04</p>
                            <hr>
                        </div>
                        <p>最終面接</p>
                        <div>
                            <pre>対面にて役員面接があります。</pre>
                        </div>
                    </div>
                    <div class="process-right-content-row">
                        <div class="process-right-content-row-number">
                            <p>05</p>
                        </div>
                        <p>内定</p>
                        <div>
                            <pre>スケジュールにもよりますが、内定までの所要日数は概ね1週間程度が目安です。</pre>
                        </div>
                    </div>
                </div>
        </div>
    <!-- </div> -->
</section>
{% endblock %}

{% block contact %}
    <!-- Contact-section -->
    <section class="contact-section" style="background-image: url('/static/img/recruit/recruit-entry-back.jpg'); background-color: rgba(0, 104, 222, 0.8) !important;">
        <div class="contact-container container">
            <div class="contact-left">
                <div class="contact-title">Entry</div>
                <div class="contact-text">
                    社員が悪いのではなく、「変われる仕組み」がないだけかもしれません<br>
                    「まずは現場の声を一緒に“見える化”しませんか？」
                </div>
            </div>
            <div class="contact-right">
                <a href="#" class="contact-button">エントリーする</a>
            </div>
        </div>
    </section>
{% endblock %}